<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .word{
            font-family: cursive;
            color:blue;
            font-size: 20px;
            margin: 15px 150px;

        }
        #box{
            width: 100px;
            height: 100px;
            background-color: {{color}};
            margin: 15px;
            display: inline-block;
        }
    </style>
    <title>Playground</title>
</head>
<body>
    <h1 class='word'>Welcome!</h1>
    {% for x in range(0,num): %}
        <div id="box"></div>
    {% endfor %}
</body>
</html>