<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <a href="/users">Home</a>
    <p>Full Name: {{users.first_name}}</p>
    <p>Email: {{users.last_name}}</p>
    <p>Created at: {{users.created_at}}</p>
    <p>Updated at: {{users.updated_at}}</p>
        <a href="/user/edit/{{users.id}}">Edit</a>
        <a href="/users/delete/{{users.id}}">Delete</a>
</body>
</html>