<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors</title>
</head>
<body>
    <div>
        <h1>New Author</h1>
        <form action="/authors/create" method="post" class="col-6 mx-auto" >
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control">
            </div>
            <input type="submit" value="Create" class="form-control">
        </form>
    </div>
    <div>
        <h2>All Authors</h2>
        <div>
            {% for author in authors %}
            <ul>
                <li><a href="/authors/{{author.id}}" >{{author.name}}</a></li>
            </ul>
            {% endfor %}
        </div>
    </div>
    <a href="/books">Add Book</a>


</body>
</html>