<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style3.css') }}">
    <title>Form</title>
</head>
<body>
        <form class="box5" action="/leaderboard" method='post'>
            <input type="text" id="name" name="your_name" placeholder="Your Name" value="">
            <button id="btn1">Submit</button>
        </form>
</body>
</html>