<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo</title>
</head>
<body>
    <div>
        <h1>New Dojo</h1>
        <form action="" method="post" class="col-6 mx-auto" >
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control">
            </div>
            <input type="submit" value="Create" class="form-control">
        </form>
    </div>
    <div>
        <h2>All Dojos</h2>
        <div>
            {% for dojo in dojos %}
            <ul>
                <li><a href="/show/{{dojo.id}}" >{{dojo.name}}</a></li>
            </ul>
            {% endfor %}
        </div>
    </div>
    <a href="/ninjas">Add Ninja</a>


</body>
</html>